/*      Sections        */
.section {
  padding: 1.5rem 1rem;
  background-color: var(--background-color-primary);
  border-radius: 1rem;
}

/*      Add Category Section        */
.addCategorySection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.7rem;
}

/*      Categories Section      */

.categoriesSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tableContainer {
  width: 100%;
  height: 100%;
  max-height: 20rem;
  overflow: auto;
}

.table {
  width: 100%;
}

.table td {
  padding: 0.8rem 0;
}

.tableItemActions {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
}

.tableItemActions svg {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  fill: var(--icon-secondary-color);
  transition: fill 0.2s;
  cursor: pointer;
}

.tableItemActions svg:hover {
  fill: var(--icon-secondary-color-hover);
}
