.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height-mobile);
  background-color: var(--background-color-primary);
  z-index: 99;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--secondary-color);
}

.nav li {
  list-style: none;
}

.navLink {
  height: fit-content;
  display: block;
}

.navLink svg {
  fill: var(--font-secondary-color);
}

.navLink.active svg {
  fill: var(--primary-color);
}
