.loaderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  z-index: 999;
}

.loaderContainer.backdrop {
  background-color: rgba(0, 0, 0, 0.359);
}

.loaderContainer.fullWidth {
  width: 100%;
  height: 100%;
}

.loaderContainer.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  width: 6rem;
}

.column1,
.column2,
.column3 {
  animation: spinner_opacity 1.8s infinite;
  position: absolute;
}

.column1 {
  fill: var(--loader-color-1);
}

.column2 {
  fill: var(--loader-color-2);
  animation-delay: 0.2s;
}

.column3 {
  fill: var(--loader-color-3);
  animation-delay: 0.4s;
}

@keyframes spinner_opacity {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.4;
  }
}
