/* Select container */
.arrowIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--font-secondary-color);
}

.optionSelectedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.9rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color-primary);
  background-color: var(--background-color-primary);
  padding: 0 1rem;
  cursor: pointer;
}

.selectContainer {
  position: relative;
  display: flex;
  width: 100%;
}

/* Options Dropdown */

.closeDropdown {
  display: flex;
  justify-content: end;
  width: 100%;
}

.closeDropdown svg {
  width: 2rem;
  height: 2rem;
  fill: var(--icon-primary-color);
  cursor: pointer;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  max-height: 16rem;
  border-top: 1px solid var(--border-color-primary);
  border-bottom: 1px solid var(--border-color-primary);
  padding: 1rem 0;
  margin: 0.7rem 0;
  overflow: auto;
}

.optionsContainer p {
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.optionsContainer p:hover {
  background-color: var(--background-color-tertiary);
}

.optionsDropdown {
  position: absolute;
  top: -0.3rem;
  left: 0;
  right: 0;
  height: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 var(--background-color-secondary);
  background-color: var(--background-color-primary);
  transform: translateY(-100%);
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}

.optionsDropdown.show {
  height: 24.5rem;
}

.optionsDropdownContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.3rem;
  height: 100%;
}

/* Modal */

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.7rem;
}

.modalContainer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--background-backdrop);
  z-index: 98;
}

.modalContainer.show {
  display: flex;
  animation: fadeIn 0.1s;
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 25rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-color-primary);
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
