/*      Product Section     */
.productSection {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 1rem;
}

/*      Reusable      */
.dataContainer {
  display: flex;
  gap: 0.5rem;
}

.dataContainer > :first-child {
  color: var(--font-secondary-color);
}

.section {
  background-color: var(--background-color-primary);
  padding: 1.3rem 1rem;
  border-radius: 1rem;
}

.title {
  font-size: 1.7rem;
  font-weight: 700;
}

/*      Image Section       */
.imgWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.imgContainer {
  position: relative;
  width: 100%;
  max-width: 18.7rem;
  overflow: hidden;
  border-radius: 1rem;
  aspect-ratio: 1;
}

.imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*      Product Information Section         */
.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.productTitle {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productPrice {
  font-weight: 700;
  color: var(--primary-color);
}

/*      Product tags section        */
.productTags {
  align-items: center;
}

.productTags ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.productTags li {
  background-color: var(--background-color-secondary);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  list-style: none;
}
