/* Form Container */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

/* Info Container */
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Image Section  */
.imgWrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.imgContainer {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 22rem;
  background-color: var(--color-bg-secondary);
  border: 2px dashed var(--border-color-primary);
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 1;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadImgContainer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.uploadImgContainer input {
  display: none;
}

/* Inputs Section */
.inputsSection {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
  padding: 0.7rem;
}

.inputContainer input,
.inputContainer select,
.inputContainer textarea {
  width: 100%;
  border: 1px solid var(--border-color-primary);
  min-height: 2.9rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  outline: none;
  padding: 0.6rem 1rem;
  color: var(--font-primary-color);
}

.inputContainer input::placeholder,
.inputContainer textarea::placeholder {
  color: var(--font-secondary-color);
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  border: 1px solid var(--border-color-primary-active);
}

.inputContainer select option {
  font-size: 1.1rem;
}

.inputContainer textarea {
  font-family: Roboto, Roboto Fallback, Arial;
  resize: none;
  height: 10rem;
}

/* Action Buttons Section */
.actionButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  width: 100%;
  max-width: 450px;
}

.actionButtonsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
