.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.body p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  max-width: 14rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: box-shadow 0.2s;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--background-color-primary);
}

.card:hover {
  box-shadow: 0 0 0 1px var(--secondary-color);
}

.description {
  width: 100%;
  overflow: hidden;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: hidden;
}

.imgContainer .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--background-color-secondary);
}

.price {
  color: var(--font-secondary-color);
}

.title {
  width: 100%;
  font-weight: bold;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
