/* Container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem !important;
}

.logoContainer {
  position: relative;
  width: 80%;
  background-color: var(--background-color-secondary);
  box-shadow: 0 0 2rem 2rem var(--background-color-secondary);
  margin: 0 auto;
}

.logoContainer img {
  width: 100%;
  height: auto;
}

/* Greeting  Container*/
.greetingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.greetingContainer h2 {
  color: var(--font-secondary-color);
}

/* Google button container */
.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
