:root {
  /* BACKGROUNDS COLORS */
  --background-color-primary: rgb(255, 255, 255);
  --background-color-secondary: rgb(232, 232, 232);
  --background-color-secondary-transparent: rgba(217, 217, 217, 0.445);
  --background-color-tertiary: rgb(245, 245, 245);
  --background-backdrop: rgba(0, 0, 0, 0.397);

  /* BUTTONS COLORS */
  --button-background-color: rgb(187, 0, 0);
  --button-font-color: rgb(255, 255, 255);
  --button-font-hover-color: rgb(255, 255, 255);
  --button-font-color-secondary: rgb(0, 0, 0);
  --button-font-color-secondary-hover: rgb(255, 255, 255);
  --button-hover-color: rgb(134, 0, 0);
  --button-active-background-color: rgb(155, 0, 36);

  /* BORDERS */
  --border-color-primary: rgb(217, 217, 217);
  --border-color-primary-active: rgb(180, 180, 180);

  /* FONT COLORS */
  --font-primary-color: rgb(0, 0, 0);
  --font-secondary-color: rgb(120, 118, 118);
  --font-secondary-color-hover: rgb(237, 237, 237);
  --font-tertiary-color: rgb(255, 255, 255);
  --font-tertiary-color-hover: rgb(149, 149, 149);
  --font-page-color: rgb(220, 0, 51);
  --font-page-color-hover: rgb(173, 1, 41);
  --font-price-color: rgb(0, 0, 0);

  /* ICONS */
  --icon-primary-color: rgb(0, 0, 0);
  --icon-primary-color-hover: rgb(90, 90, 90);
  --icon-secondary-color: rgb(164, 164, 164);
  --icon-secondary-color-hover: rgb(178, 178, 178);
  --icon-tertiary-color: rgb(255, 255, 255);
  --icon-tertiary-color-hover: rgb(208, 208, 208);
  --icon-size: 2.2rem;
  --icon-size-md: 1.7rem;

  /* NAVBAR */
  --navbar-height-mobile: 4.5rem;

  /* PRIMARY COLORS */
  --primary-color: rgb(187, 0, 0);
  --primary-color-transparent: rgba(187, 0, 0, 0.829);
  --primary-color-hover: rgb(134, 0, 0);

  /* SECONDARY COLORS */
  --secondary-color: rgb(171, 171, 171);

  /* Tertiary color */
  --tertiary-color: rgb(0, 0, 0);

  /* LOADER COLORS */
  --loader-color-1: rgb(220, 0, 51);
  --loader-color-2: rgb(90, 51, 60);
  --loader-color-3: rgb(0, 0, 0);

  /* STATUS COLORS */
  --success-color: rgb(102, 153, 0);
  --alert-color: rgb(201, 131, 0);
  --danger-color: rgb(222, 1, 1);
}

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* GENERAL */
html {
  font-size: 16px;
}

html,
body {
  font-family: "Roboto", sans-serif !important;
  background-color: var(--background-color-tertiary);
}

h1 {
  font-size: 2rem; /* 32px */
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.25rem; /* 20px */
}

h4 {
  font-size: 1.125rem; /* 18px */
}

p {
  font-size: 1rem; /* 16px */
}

body {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: var(--font-primary-color);
}

main {
  padding: 1rem !important;
  padding-bottom: calc(var(--navbar-height-mobile) + 1rem) !important;
}

a {
  text-decoration: none;
}

a,
p,
small,
h1,
h2,
h3,
h4,
h5 {
  color: var(--font-primary-color);
  margin: 0;
}

/* BACKGROUNDS */
.bg-color-primary {
  background-color: var(--background-color-primary);
}

/* BUTTONS */
.button-color-primary {
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  transition: 0.2s;
}

.button-color-primary:hover {
  background-color: var(--button-hover-color);
  color: var(--button-font-hover-color);
}

.button-color-primary:active {
  background-color: var(--button-active-background-color) !important;
  color: var(--button-font-hover-color) !important;
}

/* ICONS */
.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--icon-primary-color);
  transition: width 0.2s;
}

/* PAGE CLASS */
.home-page {
  background-color: var(--background-color-secondary-transparent);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.25rem; /* 36px */
  }

  h2 {
    font-size: 1.875rem; /* 30px */
  }

  h3 {
    font-size: 1.5rem; /* 24px */
  }

  h4 {
    font-size: 1.25rem; /* 20px */
  }

  p {
    font-size: 1rem; /* 16px */
  }
}
