/* Header section */
.headerSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  margin: 0;
}

.header svg {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--font-tertiary-color);
}
