/* Header section */
.headerSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header h1 {
  margin: 0;
}

.header svg {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--font-tertiary-color);
}

/* Products Section */

/*    Filter Bar     */

.filterBar {
  width: 100%;
  max-width: 100%;
}

.filterBar ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.7rem;
}

.filterOption {
  list-style: none;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.filterOption.active {
  background-color: var(--primary-color);
  color: var(--font-tertiary-color);
}

/*    Products Container    */
.productsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
